.folder-list-container {
    background-color: #edeeef;
    height: 450px;
    border-right: 1px solid #d4d5d5;
    overflow-y: scroll;
}
ul {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
ul li {
    padding: 13px;
}
ul li:hover {
    cursor: pointer;
}
ul li:nth-child(1) {
    color: #626362;
    font-weight: bold;
    padding-bottom: 0px;
}
ul li:nth-child(n+2) {
    color: #11131f;
    padding-left: 30px;
}
ul .isClicked {
    
}