<div class="container mt-5">
  <div class="app-frame">
      <div class="header-frame">
        <div class="row">
          <div class="col-md-12">
              <app-note-header></app-note-header>
          </div>
        </div>
      </div>
      <div class="content-frame">
        <div class="row">
          <div class="col-md-3">
            <app-folder-list></app-folder-list>
          </div>
          <div class="col-md-4">
            <app-notes-list></app-notes-list>
          </div>
          <div class="col-md-5">
            <app-note-detail></app-note-detail>
          </div>
        </div>
      </div>
  </div>
</div>